* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}
body {
    background-color: #9BBEC8;
}

.container {
    background-color: #DDF2FD;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    gap: 30px;
    overflow-x:scroll;
}

.box {
    position: relative;
    margin: 50px 0 50px 30px ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    min-width: calc(47% - 30px);
    white-space: nowrap;
    height: 620px;
    overflow-y: scroll;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: monospace;
    font-size: 14px;
    background-color:#164863;
    color: #9BBEC8;
}
.image {
    position: absolute;
    z-index: 100;
    inset: 0;
}
img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
#btn {
    width: 30px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%,-50%);
    height: 30px;
    font-size: 20px;
    background-color: red;
    z-index: 1000;
    border-radius: 50%;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.active {
    transform: rotateY(90deg);
}

.card {
    width: 100%;
    padding: 30px;
    line-height: 35px;
}

.card li {
    border-bottom: 1px solid black;
    
}

.hidden1,
.hidden {
    display: none;
} 
.company,
.address {
    background-color: #9BBEC8;
    color: #164863;
}
.relative {
    position: relative;
}

li .bi {
    position: absolute;
    cursor: pointer;
    transition: .3s;
    top: 0;
    right: 0;
    color: orangered;
}

li .add{
    transform:rotateZ(90deg);

}

h2 {
    color: #B270A2;
    display: flex;
}

li span {
    display: block;
    text-align: center;
} 

::-webkit-scrollbar {
    background-color: #2f3338;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4477CE;
    width: 10px;
    border-radius: 10px;
}

